# gradle-wrapper.jar
# /.gradle
# /captures/
# /gradlew
# /gradlew.bat
# /local.properties
# GeneratedPluginRegistrant.java
# .cxx/

# # Remember to never publicly share your keystore.
# # See https://flutter.dev/to/reference-keystore
# key.properties
# **/*.keystore
# **/*.jks


# ================================
# Flutter / Dart
# ================================
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# ================================
# Android
# ================================
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Keystore (never share)
key.properties
**/*.keystore
**/*.jks

# ================================
# iOS
# ================================
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/.generated/

# ================================
# OS / IDE
# ================================
.DS_Store
Thumbs.db
.vscode/
.idea/
